* {
    font-family: Helvetica,sans-serif;
}
.home-container{
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 2fr 14fr 3fr;
}

.section-header{
    height: 50px;
    display: flex;
}

.section-header-title{
    font-size: x-large;
    align-self: flex-end;
}

.section-header-link{
    align-self: flex-end;
}

.section-header-options{
    margin-left: auto;
    align-self: flex-end;
}

.gallery-container{
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.gallery-item-container{
    text-align: left;
    display:block;
}

.gallery-item-header-container{
    display: flex;
    width: 100%;
}

.gallery-item-title{
    font-size: x-large;
    align-self: flex-end;
}

.gallery-item-options{
    margin-left: auto;
    text-align: right;
}

.gallery-item{
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

.gallery-item-user{
    color: rgb(71, 71, 71);
    align-self: flex-end;
}

.gallery-item-details{
    display: none;
}

.gallery-item-container:hover .gallery-item-details{
    display: block;
}

.navbar-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.logo-item{
    text-align: center;
}

.search-container{
    text-align: center;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-items-container{
    margin: 5%;
    display: flex;
}

.navbar-item{
    text-align: right;
    width: 50%;
    margin: 10px;
}

.pages-container{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.pages-item{
    text-align: center;
    display: block;
}

.user-item{
    text-align: center;
    margin-bottom: 10px;
}

.users-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.tags-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.search{
    padding: 10px;
}

.post-container{
    margin-left: 2%;
    margin-right: 2%;
}

.post-header-container{
    display: flex;
}

.post-header-title{
    font-size: x-large;
}

.post-header-user{
    align-self: flex-end;
    color: rgb(71, 71, 71);;
}

.post-header-options{
    margin-left: auto;
    text-align: right;
}

.comments-container{
    display: flex;
    margin-bottom: 10px;
}

.comment-tab-item{
    display: block;
    flex: 0 0 5%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.comment-item{
    padding: 10px;
    border-radius: 10px/10px;
    background-color: rgb(236, 236, 236);
}

.profile-container{
    display:block;
    text-align: center;
}

.bio-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.avatar{
    object-fit: cover;
    width: 10%;
    border-radius: 50%;
}
.avatar-small{
    object-fit: cover;
    width: 50%;
    border-radius: 50%;
}

.login-register-container, .delete-container{
    text-align: center;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}

.register-form{
    text-align: left;
}

.error{
    color: rgb(221, 119, 119);
}

.search-bar{
    padding: 7px;
    border-radius: 40px/40px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(137, 137, 137);;
}

.search{
    text-align: center;
}

.button{
    padding: 7px;
    border-radius: 40px/40px;
    border-width: 0;
    background-color: #dedede;
}

.button-small, .reply-button, .hide-reply-button{
    padding: 5px;
    border-radius: 40px/40px;
    border-width: 0;
    background-color: #dedede;
}

.button-edit{
    padding: 5px;
    border-radius: 40px/40px;
    border-width: 0;
    background-color: #abd8ff;
}

.button-edit:hover{
    background-color: #79b1e1;
}

.button-edit:focus{
    background-color: #4d96d5;
}

.button:hover, .button-small:hover, .reply-button:hover, .hide-reply-button:hover{
    background-color: rgb(191, 191, 191);
}

.button:focus, .button-small:focus, .reply-button:focus, .hide-reply-button:focus{
    background-color: rgb(137, 137, 137);
}

/* if using the circle method
.link-underline{
    margin-top: 10px;
    padding: 5px;
    border-radius: 40px/40px;
    border-width: 0;
}
*/

.link-underline:hover{
    /*background-color: rgb(191, 191, 191);*/
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: black;
}