* {
    font-family: Arial,Helvetica,sans-serif;
}
.home-container{
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 2fr 14fr 3fr;
}

.section-header{
    height: 50px;
    display: flex;
}

.section-header-title{
    font-size: x-large;
    align-self: flex-end;
}

.section-header-link{
    align-self: flex-end;
}

.section-header-options{
    margin-left: auto;
    align-self: flex-end;
}

.gallery-container{
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.gallery-item-container{
    text-align: left;
    display:block;
}

.gallery-item-header-container{
    display: flex;
    width: 100%;
}

.gallery-item-title{
    font-size: x-large;
    align-self: flex-end;
}

.gallery-item-options{
    margin-left: auto;
    text-align: right;
}

.gallery-item{
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

.gallery-item-user{
    color: rgb(71, 71, 71);
    align-self: flex-end;
}

.gallery-item-details{
    display: none;
}

.gallery-item-container:hover .gallery-item-details{
    display: block;
}

.navbar-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.logo-item{
    text-align: center;
}

.search-container{
    text-align: center;
    display: block;
    margin: auto;
}

.navbar-items-container{
    margin: 5%;
    display: flex;
}

.navbar-item{
    text-align: right;
    width: 50%;
}

.pages-container{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.pages-item{
    text-align: center;
    display: block;
}

.user-item{
    text-align: center;
}

.users-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.tags-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.search{
    padding: 10px;
}

.post-container{
    margin-left: 2%;
    margin-right: 2%;
}

.post-header-container{
    display: flex;
}

.post-header-title{
    font-size: x-large;
}

.post-header-user{
    align-self: flex-end;
    color: rgb(71, 71, 71);;
}

.post-header-options{
    margin-left: auto;
    text-align: right;
}

.comments-container{
    display: flex;
}

.comment-tab-item{
    display: block;
    flex: 0 0 5%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.comment-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

.comment-header{
    background-color: #E7EDF5;
}

.comment-body{
    background-color: #E7EDF5;
}

.profile-container{
    display:block;
    text-align: center;
}

.avatar{
    object-fit: cover;
    width: 10%;
    border-radius: 50%;
}
.avatar-small{
    object-fit: cover;
    width: 50%;
    border-radius: 50%;
}