<div class="navbar-container">
    <div class="logo-item">
        <a href="{% url 'home' %}"><h1>Omar Time</h1></a>
    </div>
    <div class="search-container">
        <form method="GET" action="{% url 'home' %}">
            <input type="text" name="q" size=65% placeholder="Search title, user, or tag">
            <input type="Submit" value="Search">
        </form>
    </div>
    <div class="navbar-items-container">
        {% if request.user.is_authenticated %}
        <div class="navbar-item">
            <a href="{% url 'profile' request.user.username %}">{{request.user.username}}</a>
        </div>
        <div class="navbar-item">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <div class="navbar-item">
            <a href="{% url 'login' %}">Login</a>
        </div>
        <div class="navbar-item">
            <a href="{% url 'register' %}">Register</a>
        </div>
        {% endif %}
    </div>
    <hr>
</div>