{% extends 'base.html' %}

    {% block content %}
<div class="post-container">
    <div class="post-header-container">
        <div class="post-header-title">
            {{post.title}}&nbsp
        </div>
        <div class="post-header-user">
            by <a class="link-underline" href="{% url 'profile' post.user.username %}">{{post.user.username}}</a> - {{post.created|timesince}}
        </div>
        {% if request.user == post.user %}
        <div class="post-header-options">
            <a class="button-edit" href="{% url 'edit_post' post.id %}">Edit</a>&emsp;<a class="button-edit" href="{% url 'delete' post.id 'post' %}">Delete</a>
        </div>
        {% endif %}
    </div>

    <img src="{{post.picture.url}}" style="display: block; margin: auto; max-width: 100%;"><br>

    <div>
        {% if request.user not in post.likes.all %}
            <a class="button-edit" href="{% url 'like' post.id 'post' %}" >Likes</a>
        {% else %}
            <a class="button-edit" href="{% url 'like' post.id 'post' %}" >Unlike</a>
        {% endif %}
        : {{post.likes.count}}

        &nbsp &nbsp &nbsp &nbsp

        {% if request.user not in post.favorites.all %}
            <a class="button-edit" href="{% url 'favorite' post.id %}" >Favorites</a>
        {% else %}
            <a class="button-edit" href="{% url 'favorite' post.id %}" >Unfavorite</a>
        {% endif %}
        : {{post.favorites.count}}
    <div><br>

    <div>
        Description: 
        {{post.description}}<hr>
        Tags: <br>
        {% for tag in post.tags.all %}
            <a class="link-underline" href="{% url 'home' %}?q={{tag.name}}">{{tag.name}}</a>
        {% endfor %}<hr>
    </div>


    Comments:
    <form method="POST" action="">
        {% csrf_token %}
        <input id="comment-box" type="text" name="comment" maxlength="200" size="50" placeholder="Add your comment here...">
        <input class="button-edit" type="Submit" value="Add Comment">
    </form><br>
    {% for comment in comments %}
    <div class="comments-container">
        {% for path in comment.depth|make_list %} 
            <div class="comment-tab-item">
            {% if forloop.last %}
            &nbsp &nbsp ↳ &nbsp &nbsp
            {% else %}
            &nbsp &nbsp | &nbsp &nbsp 
            {% endif %}
            </div>
        {% endfor %}
        <div class="comment-item">
            <div class="comment-header">
                <a class="link-underline" href="{% url 'profile' comment.user.username %}">{{comment.user.username}}<a> - {{comment.created|timesince}} 
                {% if request.user == comment.user %}
                <a class="button-edit" href="{% url 'delete' comment.id 'comment' %}">Delete</a>
                {% endif %}
                <input class="reply-button" id="{{forloop.counter0}}" type="Button" value="REPLY">
            </div>

            <div class="comment-body">
                {{comment.body}}
            </div>
        
            <div class="reply-form" id="reply-form-{{forloop.counter0}}" style="display: none;">
            <form method="POST" action="{% url 'reply' post.id comment.id %}">
                {% csrf_token %}
                <input id="reply-box" type="text" name="reply" maxlength="200" size="50" placeholder="Add your reply here...">
                <input class='hide-reply-button' type="Button" value="CANCEL">
                <input class="button-edit" type="Submit" value="Add Reply">
            </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}