{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile-container">
    {% if not user.profile.avatar %}
        <img src="{% static 'images/avatar.png' %}" class="avatar"><br>
    {% else %}
        <img src="{{user.profile.avatar.url}}" class="avatar"><br>
    {% endif %}
    {{user.username}} - <a href="{% url 'follow' user.username %}">

    {% if not request.user.is_authenticated or not user in request.user.profile.following.all %}follow{% else %}unfollow{% endif %}</a><br> 

    <a href="{% url 'followers' user.username 'following' %}">following</a>: {{user.profile.following.count}} &emsp; <a href="{% url 'followers' user.username 'followers' %}">followers</a>: {{user.followers.count}}
    <div class="bio-container">
        {{user.profile.bio}}
    </div>
    {% if request.user == user %}
    <a href="{% url 'edit_user' %}">EDIT</a>
    {% endif %}
</div>

<div class="post-container">
    {% if request.user == user %}
    POSTS <a href="{% url 'create_post' %}">create post</a><hr>
    {% endif %}

    <div class="gallery-container">
        {% for post in posts_page.object_list %}
        <div class="gallery-item-container">
            <div class="gallery-item-header-container">
                <div class="gallery-item-title">
                    {{post.title}}
                </div>
                <div class="gallery-item-user">
                    by {{post.user.username}} - {{post.created|timesince}}
                </div>
                {% if request.user == post.user %}
                <div class="gallery-item-options">
                    <a href="{% url 'edit_post' post.id %}">EDIT</a>&emsp;<a href="{% url 'delete' post.id 'post' %}">DELETE</a>
                </div>
                {% endif %}
            </div>
    
            <div >
                <a href="{% url 'post' post.id %}"><img src="{{post.picture.url}}" width=100% class="gallery-item"></a>
            </div>
    
            <div class="gallery-item-details">
                {% if post.description %}
                    Description: {{post.description|slice:'0:50'}}<br>
                {% endif %}
                {% if post.tags.all %}
                    TAGS: {% for tag in post.tags.all %}<a href="{% url 'home' %}?q={{tag.name}}">{{tag.name}}, </a>{% endfor %}
                {% endif %}
            </div>
        </div>
        
        {% endfor %}
    </div><hr>

    <div class="pages-container">
        <div class="pages-item">
            {% if posts_page.has_previous %}
            <a href="{% url 'profile' user.username %}?page={{posts_page.previous_page_number}}">{{posts_page.previous_page_number}}</a>
            {% endif %}
        </div>
        <div class="pages-item">
            Page {{page_num}}
        </div>
        <div class="pages-item">
            {% if posts_page.has_next %}
            <a href="{% url 'profile' user.username %}?page={{posts_page.next_page_number}}">{{posts_page.next_page_number}}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}