{% extends 'base.html' %}

{% block content %}
<div class="search">
    <form method="GET" action="">
        <input class="search-bar" type="text" name="q" placeholder="Enter Tag Here" size=65%>
        <input class="button-small" type="Submit" value="Search tags">
    </form>
</div>

<div class="sort-options" style="margin-top: 10px; margin-bottom: 10px; text-align: right;">
    {% if query %}
        <a class="button-small" href="{% url 'tags' %}">All</a> &emsp;
    {% endif %}
    <a class="button-small" href="{% url 'tags' %}?q={{query}}">Alphebetical</a> &emsp;
    <a class="button-small" href="{% url 'tags' %}?q={{query}}&sort_by=popular">Popular</a> &emsp;
    <a class="button-small" href="{% url 'tags' %}?q={{query}}&sort_by=recent">Recently Updated</a>
</div>

<div class="tags-container">
{% for tag in tags_page.object_list %}
    <div>
        <a class="link-underline" href="{% url 'home' %}?q={{tag.name}}">{{tag.name}}({{tag.post_set.count}})</a>
    </div>
{% endfor %}
</div>

<hr>
<div class="pages-container">
    <div class="page-item">
        {% if tags_page.has_previous %}
            <a class="button-small" href="{% url 'tags' %}?q={{query}}&page={{tags_page.previous_page_number}}&sort_by={{sort_by}}">{{tags_page.previous_page_number}}</a>
        {% endif %}
    </div>
    <div class="page-item">
        Page {{page_num}}
    </div>
    <div class="page-item">
        {% if tags_page.has_next %}
            <a class="button-small" href="{% url 'tags' %}?q={{query}}&page={{tags_page.next_page_number}}&sort_by={{sort_by}}">{{tags_page.next_page_number}}</a>
        {% endif %}
    </div>
</div>
{% endblock %}