{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="search">
    <form method="GET" action="">
        <input class="search-bar" type="text" name="q" placeholder="Enter name of User" maxlength="500" size=65%> 
        <input class="button-small" type="Submit" value="Find Users">
    </form>
</div>
<div class="users-container">
{% for user in users_page.object_list %}
    <div class="user-item">
        <a class="link-underline" href="{% url 'profile' user.username %}">
            {{user.username}}<br>
            {% if user.profile.avatar %}
                <img src="{{user.profile.avatar.url}}" class="avatar-small">
            {% else %}
                <img src="{% static 'images/avatar.png' %}" class="avatar-small">
            {% endif %}
        </a>
    </div>
{% endfor %}
</div>

<div class="pages-container">
    <div class="page-item">
        {% if users_page.has_previous %}
            <a class="button-small" href="{% url 'users' %}?q={{query}}&page={{users_page.previous_page_number}}">{{users_page.previous_page_number}}</a>
        {% endif %}
    </div>
    <div class="page-item">
        Page {{page_num}}
    </div>
    <div class="page-item">
        {% if users_page.has_next %}
            <a class="button-small" href="{% url 'users' %}?q={{query}}&page={{users_page.next_page_number}}">{{users_page.next_page_number}}</a>
        {% endif %}
    </div>
</div>
{% endblock %}